__pycache__/
.DS_Store
.vscode/
*~
*tmp
~*
error.txt
package/
tmp/
global-s3-assets/
regional-s3-assets/
deployment/virtual-waiting-room-on-aws-authorizers.json
deployment/virtual-waiting-room-on-aws-openid.json
deployment/virtual-waiting-room-on-aws-sample.json
*egg-info/
virtual_waiting_room_on_aws_common*
deployment/pkg/
node_modules/
.env/
.venv/
coverage.lcov
coverage.xml*
.coverage
.idea
build
docs/behavioral-views.drawio
docs/deployment-view.drawio

# cdxgen output
bom.json